.container {
  border-radius: 10px;
  width: 20%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0px 0px 10px black, 1px 10px 20px black;
  margin-left: 15vw;
  background-color: whitesmoke;
  color: black;
}

.container h2:hover,
.container {
  cursor: pointer;
}
