.key{
  padding-bottom: 5px;
  border-radius: 3px;
}

.white-key{
  border: 1px solid black;
  flex: 1 1 1vw;
  overflow: hidden;
  text-align: center;
  font-size: .8rem;
  user-select: none;
  z-index: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  box-shadow: 1px 0px 1px grey;
}

.black-key{
  height: 75%;
  background-color: black;
  color: white;
  font-size: .6rem;
  user-select: none;
  position: absolute;
  width: 1.5vw;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  box-shadow: 2px 0px 1px grey;
}

.black-key-container{
  position: relative;
  right: .9%;
  z-index: 2;
}

.key-hl{
  background: rgba(0, 100, 255, 1);
  transform: translate(.5px);
  box-shadow: none;
}