.key {
  padding: 15px;
  border-radius: 0px 0px 10px 10px;
  cursor: pointer;
}

.white-key {
  flex: 1;
  font-weight: bold;
  font-size: 1.2rem;
  width: 1vw;
  z-index: 1;
  position: relative;
  display: flex;
  background-color: whitesmoke;
  justify-content: center;
  align-items: flex-end;
  box-shadow: inset 0px 0px 2px black, 0px 3px 5px whitesmoke;
}

.black-key {
  width: 100%;
  height: 75%;
  background-color: black;
  color: white;
  font-size: 1rem;
  user-select: none;
  font-weight: 100;
  position: absolute;
  width: 1.5vw;
  top: -5px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  box-shadow: 2px 2px 2px grey;
}

.black-key-container {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
}

.key-hl {
  background-color: #f5d020;
  background-image: linear-gradient(315deg, #f53803 0%, #f5d020 74%);
  border-radius: 6px 6px 10px 10px;
  box-shadow: 0 2px #666;
  font-size: 1.5rem;
}
