@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;300&display=swap");

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
  margin: 0;
  outline: none;
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 1px;
  font-weight: bolder;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  perspective: 2000px;
}

.App {
  transform: rotateX(5deg);
  user-select: none;
  -webkit-user-select: none;
  border-radius: 20px 20px;
}
