@import url("https://fonts.googleapis.com/css2?family=Quantico&display=swap");

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
  margin: 0;
  outline: none;
  font-family: "Quantico", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  perspective: 300px;
}

.App {
  transform: rotateX(0.5deg);
  user-select: none;
  -webkit-user-select: none;
  border-radius: 20px 20px;
}
